label {
  margin-left: 1rem;
  width: 6rem;
  font-size: large;
  font-weight: bold;
}

h1 {
  margin-left: 10rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card {
  margin: auto;
  width: 30rem;
}

input {
  width: 18rem;
}
p {
  font-size: large;
}
