/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;             
    
}

#head, #left-arm, #chest, #right-arm, #legs {
    outline: none;
}

.navbar {
    background-color: #7FDBFF;
    font-size: large;
}

.vaccines {
    background-color: rgba(127,219,255,.7);
}
.login {
    width: 100%;
    height: 100vh;
        font-size: larger;        
}
.login-box {
    width: 300px;
    margin: auto;
    margin-top: 40vh;
}