<div class="align-items-right justify-content-end text-right">
  <label class="largeText" *ngIf="completed">Completed:</label
  ><label class="largeText" *ngIf="!completed">Scheduled:</label>
  <label class="switch">
    <input [checked]="completed" (change)="switchButton()" type="checkbox" />
    <span class="slider round"></span>
  </label>
</div>
<h1>Appointments</h1>
<div
  *ngIf="user && user.appointments !== undefined"
  style="height: 65vh; overflow-y: auto; margin-bottom: 20px">
  <table *ngIf="!completed" class="d-flex flex-wrap text-left mx-5">
    <tr
      class="col-12 text-info card text-dark m-1 border-white rounded"
      *ngFor="let appointment of scheduled()">
      <div class="font-weight-bold">
        <td class="col-12">
          <h2 class="text-black-50">{{ appointment.date | date: "medium" }}</h2>
        </td>
        <!-- <p class="card-text"> -->
        <table>
          <tr class="text-left">
            <td class="col-3">
              <h3>{{ appointment.location.name }}</h3>
            </td>
            <td class="col-6 text-left moveToLeft">
              <h1>{{ appointment.vaccination.name }}</h1>
            </td>
            <td class="col-3 font-weight-bold">
              <h3>
                Status: <span class="">{{
                  appointment.status.status
                }}</span>
              </h3>
            </td>
            <td class="col-3 text-right">
              <button class="text-right btn btn-danger mb-2"
               (click)="CancelAppointment(appointment.id)">
                Cancel
              </button>
            </td>
          </tr>
          <tr >
              <td class="col-6">
                  <h3>Address:  {{appointment.location.location}}</h3>
              </td>
          </tr>
        </table>
      </div>
    </tr>
  </table>
  <table *ngIf="completed" class="d-flex flex-wrap text-left mx-5">
    <tr
      class="col-12 text-info card text-dark m-1 border-white rounded"
      *ngFor="let appointment of canceledAndCompleted()">
      <div class="font-weight-bold">
        <td class="col-12">
          <h2 class="text-black-50">{{ appointment.date | date: "medium" }}</h2>
        </td>
        <!-- <p class="card-text"> -->
        <table>
          <tr class="text-left">
            <td class="col-3">
              <h3>{{ appointment.location.name }}</h3>
            </td>
            <td class="col-6 text-left moveToLeft">
              <h1>{{ appointment.vaccination.name }}</h1>
            </td>
            <td class="col-3 font-weight-bold">
              <h3>
                Status: <span class="">{{
                  appointment.status.status
                }}</span>
              </h3>
            </td>
            <td class="col-3 text-right">
            </td>
          </tr>
          <tr >
              <td class="col-6">
                  <h3>Address:  {{appointment.location.location}}</h3>
              </td>
          </tr>
        </table>
      </div>
    </tr>
  </table>
</div>
