<div *ngIf="user && user.appointments !== undefined" style="height: 70vh; overflow-y: auto; margin-bottom: 20px;"> 
<div>
    <h1>Appointments</h1>
</div>
<table class="d-flex flex-wrap text-left m-5">
 
    <tr class="col-12 text-info card text-dark m-1 border-white rounded" *ngFor="let appointment of user.appointments">
        <div class="font-weight-bold">
         <td><h2 class="text-black-50">{{appointment.vaccination.name}}</h2></td>
            <!-- <p class="card-text"> -->
<table><tr>
    <td class="col-4"> <h3 class="font-weight-bold text-secondary">
         <td class="col-3">planned on: {{appointment.date | date: "medium" }}</td>
             <td class="col-3 text-dark text-left font-weight-bold">{{appointment.location.name}}</td>
             <td class="col-3"> adress: {{appointment.location.location}}</td>
             <td class="col-3 text-info font-weight-bold">status:<span class="text-warning">{{appointment.status.status}}</span></td>

                 <td class="text-right">
                     <button class="text-right btn btn-danger mb-2 button" (click)="CancelAppointment(appointment.id)">Cancel</button>

                 </td>
         </h3></td>

</tr></table>
            </div>
        </tr>
</table>
</div>        
