<div class="d-flex">
    <div class="card text-left bg-light">
        <div>
            <h1>User Details</h1>
        </div>
        <div *ngIf="user" class="card-body">
            <p class="card-text">
            <label> Email: </label>
            <input id="user-firstname" [(ngModel)]="user.email" placeholder="name">
    </p>
    <p class="card-text">
        <label> Name: </label>
            <input id="user-firstname" [(ngModel)]="user.firstName" placeholder="name">
        </p>
            <p class="card-text">
            <label> Surname: </label>
            <input id="user-surname" [(ngModel)]="user.surname" placeholder="name">
    </p>    
    <p class="card-text">
            <label>Address: </label>
            <input id="user-address" [(ngModel)]="user.address" placeholder="name">
            </p>
            <p class="card-text">
            <label>Birthdate: </label>
         
            <input id="user-birthdate" [(ngModel)]="user.birthDate" placeholder="name">
        </p>
        <div class="text-right">
    
            <a class="btn btn-outline-primary" (click)="save()">Save</a>
        </div>
        </div>
    </div>
    </div>