
.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 100px auto;
}

.human-body svg:hover {
    cursor: pointer;
}

.human-body svg:hover path {
    fill: var(--main-accent-light);
}

.human-body svg {
    position: absolute;
    left: 50%;
    fill: var(--main-light-blue);
}

.human-body svg#head {
    margin-left: -22px;
    top: -90px;
}

.human-body svg#left-arm {
    margin-left: -140px;
    top: 23px;
}

.human-body svg#right-arm {
    margin-left: 49px;
    top: 23px;
}

.human-body svg#chest {
    margin-left: -43.5px;
    top: 48px;
}


.human-body svg#legs {
    margin-left: -43.5px;
    top: 225px;
}

#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area #data {
    color: black;
}

button {
    width: 200px;
    height: 200px;
    margin: 10px;
}
.sticky {
    top: 250px;
    position: sticky;
    right: 50px;
    
}
.human-body svg.Selected {
    fill: var(--main-accent);

}