<div *ngIf="!isRegistering" >
<div class="container-fluid overflow-hidden">
<div class="login-box" >
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="m-5">
                <div>
                        <input name="username" class="form-control m-2" [(ngModel)]="model.email" type="text"
                                placeholder="UserName" />
                </div>

                <div>
                        <input name="password" class="form-control m-2" [(ngModel)]="model.password" type="password"
                                placeholder="Password" />
                </div>

                <div>
                        <button class="btn btn-success mx-2" type="submit">Login</button>
                        <button class="btn btn-primary mx-2" type="button" (click)="register()">Register</button>
                </div>
        </form>
</div>
</div>
</div>
<div *ngIf="isRegistering" class="register-box overflow-hidden">
        <app-register></app-register>
</div>