<div class="vaccinContainer h-100">
    <h2>Vaccines for your legs</h2>
    <div class="col-12">
      <table class="list-group mx-3 mb-2 text-left">
        <tr
          class="vaccines list-group-item m-1"
          *ngFor="let vaccine of vaccines"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="onSelect(vaccine)"
          [class.active]="vaccine == selectedVaccine">
          <span class="text-dark text-left font-weight-bold">
            {{vaccine.name}}
          </span>
          -->{{vaccine.description}}
        </tr>
      </table>
    </div>
<app-vaccine-detail [vaccine]="selectedVaccine"></app-vaccine-detail>
         